.d-flex {
    width: 10vw;
    height: 100vh;
    position: fixed;
}

.container {
    margin-left: 0;
    padding-left: 0;
    display: grid;
    gap: 0px;
}

.profile-pic {
    border-radius: 10px;
    border: 5px solid black;
    box-shadow: 10px 5px 5px red;
}

.subheading {
    color: grey;
}

.banner-text {
    color: rgb(2, 200, 2);
    font-size: 2rem;
    font-weight: 700;
    font-family: "Play", sans-serif;
    margin: 0;
}

.body {
    margin-left: 10vw;
    padding: 10px;
    width: 90vw;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.nav {
    position: fixed;
}

@media (min-width: 481px) and (max-width: 1200px) { 
    .project-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 480px) { 
    .project-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}